.music-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-info img {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 10px #e58788;
}

.music-info h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 12px;
}

.music-info h5 {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}

.music-tag {
  display: flex;
  justify-content: center;
}

.music-tag__btn {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 15px;
}
.music-tag__btn:first-child {
  background-color: black;
  color: white;
  box-shadow: 5px 4px 1px lightgray;
}
.music-tag__btn:last-child {
  box-shadow: 5px 4px 1px lightgray;
}

.music-tag__btn span {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
}

.play-list__img {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.play-list-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 30px;
}
.play-list-wrap:first-child {
  margin-bottom: 10px;
}
.play-list-wrap:nth-child(2) {
  padding: 10px 10px;
  margin: 10px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px lightgray;
}

.play-list-wrap:last-child {
  margin-bottom: 10px;
}

.play-list-wrap i {
  color: rgba(0, 0, 0, 0.4);
}

.play-list__playing {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.background i {
  color: white;
  margin: 12px 12px;
}

.play-list__data {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  justify-content: center;
  position: relative;
  right: 40px;
}
.play-list__data h5 {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

.play-list__data h3 {
  font-size: 15px;
  font-weight: 600;
}

.music-player {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  border-radius: 30px;
  padding: 0 25px;
  margin: 25px 15px;
}

.music-player__data {
  display: flex;
  flex-direction: column;
  color: white;
}

.music-player__btn {
  color: white;
  box-sizing: content-box;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.music-player__data h5 {
  font-size: 11px;
  font-weight: 600;
  color: gray;
}

.music-player__data h3 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}

.background {
  background-image: url("https://mblogthumb-phinf.pstatic.net/20141005_136/designbee86_14124941699648env9_JPEG/Beatles_-_Please_Please_Me_-_Front.jpg?type=w2");
  background-size: cover;
}
